h1 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row,
.row2,
.row3 {
  /* border: black 2px solid; */
  display: flex;
  flex-direction: row;
  height: 200px;
}
.box {
  border: black 2px solid;
  width: 30px;
  display: flex;
  flex-direction: row;
  width: 200px;
}

.x:after {
  padding-left: 58px;
  padding-top: 50px;
  content: "❎";
  font-size: 90px;
  color: #fff;
  line-height: 100px;
  text-align: center;
}

.o:after {
  padding-left: 58px;
  padding-top: 50px;
  content: "🅾️";
  font-size: 90px;
  color: blue;
  line-height: 1;
  text-align: center;
}
